.note {
    display: flex;
    align-items: center;
    background-color: rgba(11, 11, 11, 0.7);
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.note h2 {
    color: #f4f4f4;
    font-size: 32px;
    margin-bottom: 10px;
}

.note a {
    color: #f4f4f4;
    font-size: 32px;
    margin-bottom: 10px;
}

.note p {
    color: #f4f4f4;
    font-size: 20px;
    margin-bottom: 5px;
}

.note .nickname {
    font-weight: bold;
    color: #0079D3;
}

.note-details {
    width: 1800px;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 60px;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}